@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "Barlow" sans-serif;
	line-height: 1.7;
	width: 100%;
	background: #F5F5DC;
}

section{
	padding-top: 30px;
	padding-bottom: 30px;
	
}

a{
	color: #3DDC84;
	font-size: 18px;
}

.top{
	background: linear-gradient(rgba(4, 4, 4, 0.6),rgba(4, 4, 4, 2)), url(../img/bg_2.jpg);
	height: 90vh;
	width:100% ;
	background-position: center;
	background-size: cover;
	padding-left: 20px;
	padding-right: 20px;

}
@media(max-width: 990px){
	.top{
		height: 114vh;
	}
}
.navbar-brand{
	font-size: 30px;
	font-weight: 700;
}
.nav-link{
	font-weight: 500;
	color: #3DDC84;
}
.nav-link:hover{
	color: white;
}

#intro{
	justify-content: center;
	margin-top: 30px;
	margin-left: 30px;
}



/* Button */

.btn-brand{
	background:#3DDC84;
	padding: 10px 30px;
	font-weight: 500;
}
.holder{
	border: 1px solid;
	width: 20em;
	height: 50vh;
	background:#3DDC84;
	border-radius: 100%;
	
}

/*About*/

#About{
	background:#3DDC84;
	padding-top: 30px;
	font-weight: 400;
	justify-content: center;
	padding-bottom: 20px;
}
#About li{
	list-style: none;
	font-size: 18px;
	font-weight: 600;
	width:100%;
	margin-bottom: 10px;
	color: white;
}
#About span{
	color: black;
	font-weight: normal;
	font-size: 16px;
	text-decoration-style: do;
}

/*Services*/

#hover:hover{
	background-color: black;
	color: white;
	transition: 0.4s ease-in;
	border-color: white;
	font-size: 22px;
}
 #Services{
 	
 	padding-top: 30px;
 	padding-left: 10px;
 	padding-right: 10px;

 }

/*Products*/

#product{
	background: #3DDC84;
	margin-top: 30px;
	padding-left: 10px;
 	padding-right: 10px;
}
.products{
	border: 2px solid #3DDC84;
	padding: 40px;
	background: white;
	
}
.products:hover{
	transition: 0.8s ease-in;
	background: #00563F;
	color: white;
}

/*Contact*/

.contact-content{

}

#contact{
	padding-left: 10px;
 	padding-right: 10px;
}

footer h6{
	font-size: 16px;
	color: white;
}
.social-links a{
	color: white;
	font-size: 16px;
}

input,textarea{
	width: 1200%;
	font-size: 14px;
	color:#00563F;
	font-weight: 600;
}

#placeholder{
	color: red;
}




@media(max-width: 320px){
	.holder{
	display: none;
}

	.top{
		height: 80vh;
		margin-left: 0px;
		margin-right: 0px;
		justify-content: left;
	}
	
	.container{
		padding: 0;
	}
	
}
}